.legislatorData {
  font-size: 0.97em;
  background: white;
  border-radius: 10px;
  padding: 0 10px 0 10px;
  width: 90vw;
  max-width: 690px;
  color: #7a7a7a;
}

.legislatorInfo {
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: row;
  color: black;
  background: white;
  padding-bottom: 10px;
  border-bottom: 1px solid #a0a0a0;
}

@media only screen and (max-width: 600px) {
  .legislatorInfo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 601px) {
  .minorInfo {
    display: inline-block;
    width: 50%;
  }
  .elec {
    text-align: right;
  }
}

.subInfo {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: #7a7a7a;
}

@media only screen and (max-width: 600px) {
  .subInfo {
    text-align: center;
  }
}

.indusInfo {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: #7a7a7a;
}

.imgContainer {
  position: relative;
  overflow: hidden;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-right: 14px;
}

@media only screen and (max-width: 600px) {
  .imgContainer {
    width: 80px;
    height: 80px;
  }
}

.profileImage {
  display: inline;
  width: 100%;
  height: auto;
  aspect-ratio: attr(width) / attr(height);
}

.contributors {
  display: inline-block;
}
