.App {
  font-family: Roboto;
  color: #e6e8e6;
  padding: 0px 0px 30px 0px;
}

.links {
  color: white;
  text-decoration: none;
}

.title {
  font-size: 36px;
  font-weight: 700;
}

.subHeading {
  font-size: 18px;
  font-weight: 500;
  padding: 14px 0 14px 0;
  color: black;
}

.paraText {
  font-size: 0.97em;
  font-weight: 400;
  color: #5c5c5c;
}

.lightText {
  font-size: 0.83em;
  font-weight: 300;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home {
  padding-top: 30px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadTitle {
  font-size: 2.9em;
  font-weight: 900;
  text-align: center;
  line-height: 1.2em;
  letter-spacing: 0.04em;
  padding-bottom: 28px;
}

@media only screen and (max-width: 600px) {
  .loadTitle {
    font-size: 1.8em;
  }
}

.loadSubTitle {
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
  line-height: 1.5em;
  padding-bottom: 28px;
}

@media only screen and (max-width: 600px) {
  .loadSubTitle {
    font-size: 0.9em;
  }
}

.State {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.97em;
  height: 50px;
  padding-left: 10px;
  padding-right: 50px;
}

.State p {
  font-size: 0.97em;
  font-weight: 400;
  color: rgb(241, 241, 241);
  padding-right: 14px;
}

.State form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 50px;
  border: none;
  border-radius: 30px;
  outline: none;
  padding: 0 24px 0 20px;
  border: 1px solid rgb(224, 224, 224);
  color: white;
  font-size: 0.97em;
  width: 330px;
  background: url("./assets/expand_more-white-24dp.svg") no-repeat right
    rgba(0, 0, 0, 0);
  background-position-x: calc(100% - 10px);
}

.State form select option {
  font-size: 0.97em;
  font-weight: 400;
  color: #00ffcc;
  background-color: rgb(54, 40, 105);
}

@media only screen and (max-width: 450px) {
  .State form select {
    width: 220px;
    padding: 0 35px 0 10px;
    background-position-x: calc(100% - 10px);
  }
}

.loadButton {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border-radius: 50px;
  letter-spacing: 0.094em;
  font-size: 0.97em;
  color: #ffffff;
  background: #00c9b7;
  border: none;
  outline: none;
  height: 50px;
  width: 180px;
  margin: 3vh auto;
  box-shadow: 10px 10px 14px 1px rgba(0, 0, 0, 0.2);
}

.loadButton:focus {
  border: 1px solid rgb(224, 224, 224);
}
