.App {
  font-family: Roboto;
  color: #e6e8e6;
}

.title {
  font-size: 32px;
  font-weight: 700;
}

.subHeading {
  font-size: 24px;
  font-weight: 500;
}

.paraText {
  font-size: 16px;
  font-weight: 400;
}

.home {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadButton {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border-radius: 50px;
  letter-spacing: 0.094em;
  font-size: 0.97em;
  color: #ffffff;
  background: #00c9b7;
  border: none;
  outline: none;
  height: 50px;
  width: 180px;
  margin: 0 auto;
  box-shadow: 10px 10px 14px 1px rgba(0, 0, 0, 0.2);
}

.loadButton:focus {
  border: 1px solid rgb(224, 224, 224);
}
