.App {
  font-family: Roboto;
}

.title {
  font-size: 32px;
  font-weight: 700;
}

.subHeading {
  font-size: 24px;
  font-weight: 500;
}

.paraText {
  font-size: 16px;
  font-weight: 400;
}

.home {
  padding-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  position: relative;
  display: flex;
  border-radius: 5px;
  width: fit-content;
  justify-content: center;
  background-color: orchid;
  border: 1px solid orangered;
  padding: 5px 0 5px 7px;
}

input {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  border: none;
  background-color: orchid;
}

.searchIcon {
  background-color: orchid;
}

input:focus {
  outline: none;
}
