* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  background: #0d0628;
}
body {
  color: rgb(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: local("Roboto"), url(/src/fonts/Roboto-Regular.woff2) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: local("Roboto"), url(/src/fonts/Roboto-Light.woff2) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: local("Roboto"), url(/src/fonts/Roboto-Medium.woff2) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: local("Roboto"), url(/src/fonts/Roboto-Bold.woff2) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  src: local("Roboto"), url(/src/fonts/Roboto-Black.woff2) format("woff");
}

.logo {
  display: flex;
  flex-wrap: nowrap;
  font-size: 24px;
  font-weight: 900;
  padding: "0px 0 20px 0px";
}
